@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System;
@using ClientDependency.Core.Mvc

@{
    Layout = null;

    string uniqueId = Guid.NewGuid().ToString();
    string posterUrl = Model.MacroParameters["posterUrl"].ToString();
    string videoSourcesHtml = Model.MacroParameters["videoSources"].ToString();
    Html.RequiresCss("/css/videopage.css");
    Html.RequiresCss("/css/video-quality-selector.css");
    Html.RequiresJs("/js/video.js");
    Html.RequiresJs("/js/video-quality-selector.js");
}
@{
    <div class="video-container">
        <div class="videojs-container">
            <video id="video-player-@uniqueId" class="video-js vjs-default-skin" controls oncontextmenu="return false;" preload="metadata" width="100%" height="100%"
                   poster="@posterUrl">
                @Html.Raw(videoSourcesHtml)
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser
                    that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <script>
                videojs("#video-player-@uniqueId", {
                    plugins: {
                        resolutionSelector: { default_res: "720" }
                    }
                },
                function() {
                    var player = this;

                    player.on( 'changeRes', function() {
                        var res = player.getCurrentRes();
                        var request = new XMLHttpRequest();
                        request.open('POST', '/set-resolution-preference/', true);
                        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                        request.send('resolution='+res);
                    });
                });
            </script>
        </div>
    </div>

}