<!--
    Very loosely based on....
    TXT 2.0 by HTML5 UP
    html5up.net | twitter.com/n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
@inherits UmbracoTemplatePage

@using Umbraco.Web.Models

@{
    Layout = null;

    // Data pages should be protected by Umbraco member access, so we can assume
    // the user is logged in.
    // Get access to the member's ASA numbers
    var memberProfile = Members.GetCurrentMember();
    string asaNumbersStr = memberProfile.GetPropertyValue( "asaNumbers" ).ToString();
    // The asaNumbersStr is a comma (and sometimes space) separated string.
    // Split it into an array.
    string[] asaNumbers = asaNumbersStr.Split( new Char[] {',', ' '} );
    string dataMode = @CurrentPage.DataMode;
    bool showAllMembers = (dataMode == "ClubWide PBs");
}
<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderPartial("standardHead"); }
    <script type="text/javascript" src="/js/events.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/time-conversion.js"></script>
    <script type="text/javascript">
        var showAllMembers = @(showAllMembers ? "true" : "false");
    </script>
    <script type="text/javascript" src="/js/swim-data.js"></script>
    <script type="text/javascript" src="/js/NoSleep.min.js"></script>
    <script type="text/javascript" src="/js/stopwatch.js"></script>
    <script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
    @if( !showAllMembers )
    {
    <script id="member-info" type="application/xml">
        <memberInfo>
            @foreach( string asaNumber in asaNumbers )
            {
                if( !string.IsNullOrEmpty( asaNumber ) )
                {
                    <asaNumber>@asaNumber</asaNumber>
                }
            }
        </memberInfo>
    </script>
    }
</head>
<body class="homepage" id="root">
    @{ Html.RenderPartial("header"); }
    <div id="main-wrapper">
        <div id="main" class="container">
            <div class="row">
                <div class="12u skel-cell-mainContent">
                    <div class="content content-left">
                        <!-- Content -->
                        <article class="is-page-content">
                            <header>
                                <h2 id="page-title">Swim Data</h2>
                            </header>
                            <section id="data-wrapper">
                            </section>
                        </article>
                        <!-- /Content -->
                    </div>
                </div>
            </div>
        </div>
        <div id="stopwatch" class="stopwatch" allowfullscreen="true"></div>
    </div>
    @{ Html.RenderPartial("footer"); }
</body>
</html>