@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";
	// Why does this keep reverting?

    // If the editor has not explicitly provided the "Page title" property page 
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;    
}
<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u skel-cell-mainContent">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="is-page-content">
                        <header>
                            <h2>@pageTitle</h2>
                        </header>
                        <section>
                            @{ Html.RenderPartial("gallery"); }
                            @Umbraco.RenderMacro("GetSwimData")

                            @CurrentPage.BodyText
                        </section>                           
                    </article>
                    <!-- /Content -->
                </div>
            </div>
            <div class="3u not-mobile">
                <div class="sidebar">
                    <!-- Sidebar -->
                    @{ Html.RenderPartial("winAllLatestNewsWidget"); }
                    <!-- /Sidebar -->
                </div>
            </div>
        </div>
        @{ Html.RenderPartial("umbChildFeatures"); }
    </div>
</div>
<!-- /Main -->