@inherits UmbracoTemplatePage
@{
	Layout = "umbLayout.cshtml";
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;    
}
@{ Html.RenderPartial("umbHomepageBanner"); }
<!-- Main -->
<div id="main-wrapper">
	<div id="main" class="container">
		<div class="row">
			<div class="9u skel-cell-mainContent">
				<div class="row">
					<div class="12u skel-cell-mainContent">
						<!-- Content -->
						<article class="is-page-content">
                            <header>
                                <h2>@pageTitle</h2>
                            </header>
							<section>
                                @{ Html.RenderPartial("gallery"); }
								@CurrentPage.BodyText
							</section>                           
						</article>
						<!-- /Content -->
					</div>
				</div>
				<div class="row">
					<div class="12u not-mobile">
						@{ Html.RenderPartial("umbFeatures"); }
					</div>
				</div>
			</div>
			<div class="3u">
				<div class="sidebar">
					<!-- Sidebar -->
					@{ Html.RenderPartial("winAllLatestNewsWidget"); }
					<!-- /Sidebar -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="12u">
				@{   Html.RenderPartial("winTopNewsOverview"); }
			</div>
		</div>
	</div>
</div>
<!-- /Main -->